*{
    box-sizing: border-box;
}
@font-face{
    font-family: "Source Sans Pro";
    src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf');
}

@font-face{
    font-family: "Source Sans Pro";
    src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf');
    font-weight: bold;
}

body{
    font-family: "Source Sans Pro";
}

.cabecalho{
    background: #fff ;
}

.logo{
    background-image: url("../img/pancadalogo.png");
    background-repeat: no-repeat;
    width: 120px;
    height: 53px;
}